/*author*/
/*Gopika J*/
.vh-60{
	height:60vh;
}
.vh-40{
	height: 40vh;
}
.vh-57{
	height: 57vh;
}
.image-style{
	padding: 20px;
}
@media only screen and (max-width: 576px){
	.vh-60{
		height: 70vh;
	  }
	 .vh-57{
	 	height: 160vh;
	 } 
	.vh-40{
	height: 60vh;
    }
  
}
